/* =========================================================================
   Variables
   ========================================================================= */
/* ---------------------------------- *\
   #CORE
\* ---------------------------------- */
/**
 * Typography
 */
/**
 * Colors
 */
/* =========================================================================
   Functions
   ========================================================================= */
/**
 * Vertical rhythm
 */
/**
 * Modular scale
 */
/* =========================================================================
   Mixins
   ========================================================================= */
/* =========================================================================
   Global
   ========================================================================= */
*,
::before,
::after {
  box-sizing: inherit; }

/**
 * 1. Add text decoration inheritance in all browsers (opinionated).
 * 2. Add vertical alignment inheritence in all browsers (opinionated).
 */
::before,
::after {
  text-decoration: inherit;
  /* 1 */
  vertical-align: inherit;
  /* 2 */ }

/**
 * Remove the margin in all browsers (opinionated).
 */
* {
  margin: 0; }

/**
 * Add default margin to all elements.
 * https://alistapart.com/article/axiomatic-css-and-lobotomized-owls
 */
* + * {
  margin-top: 1.5rem; }

/**
 * Turn on kerning, standard ligatures, and proportional, oldstyle numerals.
 * Turn off all other ligatures, tabular, lining numerals, and alternates.
 */
html,
body {
  -webkit-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0;
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0; }

/**
 * 1. Use the default cursor in all browsers (opinionated).
 * 2. Change the line height in all browsers (opinionated).
 * 3. Use a 4-space tab width in all browsers (opinionated).
 * 4. Remove the grey highlight on links in iOS (opinionated).
 * 5. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 * 6. Breaks words to prevent overflow in all browsers (opinionated).
 * 7. Add border box sizing in all browsers (opinionated).
 */
html {
  box-sizing: border-box;
  /* 1 */
  cursor: default;
  /* 2 */
  color: #212529;
  font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* 3 */
  font-size: 1rem;
  line-height: 1.5;
  /* 4 */
  -moz-tab-size: 4;
  /* 3 */
  tab-size: 4;
  /* 3 */
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%;
  /* 5 */
  -webkit-text-size-adjust: 100%;
  /* 5 */
  word-break: break-word;
  /* 6 */ }

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin-top: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Remove the list style on navigation lists in all browsers (opinionated).
 */
nav ol,
nav ul {
  list-style: none;
  padding: 0; }

@media print {
  *,
  *::before,
  *::after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important; } }

/* =========================================================================
   Text
   ========================================================================= */
/**
 * Turn on discretionary ligatures for larger headings.
 */
h1, h2, h3, h4, h5, h6 {
  -webkit-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 1;
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 1; }

/**
 * Use modular scale for headings sizes.
 */
h1 {
  font-size: 1.728rem; }

h2 {
  font-size: 1.44rem; }

h3 {
  font-size: 1.2rem; }

h4 {
  font-size: 1rem; }

h5 {
  font-size: 0.83333rem; }

h6 {
  font-size: 0.69444rem; }

/**
 * Remove the margin in all browsers (opinionated).
 */
li,
dd {
  margin-top: 0; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge 19- and IE.
 * 3. A better looking default horizontal rule.
 */
hr {
  color: #2b8a3e;
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border: 0;
  /* 3 */
  border-top: 1px solid currentColor;
  /* 3 */ }

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  color: inherit;
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
  text-decoration-skip: auto;
  /* 1 */ }
  a:hover, a:focus {
    color: #2b8a3e; }
  @supports (text-decoration-skip-ink: auto) {
    a {
      text-decoration-skip-ink: auto;
      text-decoration-color: #2b8a3e; } }

/**
 * 1. Change all letters to uppercase.
 * 2. Turn on small caps for upper and lowercase letters.
 */
abbr {
  text-transform: uppercase;
  /* 1 */
  -webkit-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "smcp" 1, "c2sc" 1;
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "smcp" 1, "c2sc" 1;
  /* 2 */
  /**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge 19-, IE, Opera, and Safari.
   */ }
  abbr[title] {
    border-bottom: none;
    /* 1 */
    text-decoration: underline;
    /* 2 */
    text-decoration: underline dotted;
    /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 0.83333rem; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 1rem;
  vertical-align: baseline; }

/**
 * Turn on proper subscript numerals.
 */
sub {
  -webkit-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "subs" 1;
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "subs" 1; }

/**
 * Turn on proper supercript numerals
 */
sup {
  -webkit-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "sups" 1;
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "sups" 1; }

time {
  font-size: 0.83333rem;
  white-space: nowrap;
  -webkit-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0;
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0; }

/**
 * 1. Inherit style issues with custom selections, per robsterlini.co.uk/journal/opentype-and-selection-dont-mix.
 * 2. Remove text-shadow in selection highlight:
 *    https://twitter.com/miketaylr/status/12228805301
 */
::-moz-selection {
  color: inherit;
  /* 1 */
  text-shadow: none;
  /* 2 */
  background-color: #b3d4fc;
  /* 1 */ }

::selection {
  color: inherit;
  /* 1 */
  text-shadow: none;
  /* 2 */
  background-color: #b3d4fc;
  /* 1 */ }

@media print {
  a,
  a:visited {
    text-decoration: underline; }
  a[href]::after {
    content: " (" attr(href) ")"; }
  abbr[title]::after {
    content: " (" attr(title) ")"; }
  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: ""; }
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }

/* =========================================================================
   Code
   ========================================================================= */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 * 3. Turn off kerning and ligatures,
 *    rurn on lining, tabular numerals, slashed zero.
 */
code,
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1rem;
  /* 2 */
  -webkit-font-feature-settings: "kern" 0, "liga" 0, "calt" 1, "dlig" 0, "pnum" 0, "tnum" 1, "onum" 0, "lnum" 1, "zero" 1;
  font-feature-settings: "kern" 0, "liga" 0, "calt" 1, "dlig" 0, "pnum" 0, "tnum" 1, "onum" 0, "lnum" 1, "zero" 1;
  /* 3 */ }

@media print {
  pre {
    border: 1px solid #999;
    page-break-inside: avoid; } }

/* =========================================================================
   Container
   ========================================================================= */
.o-container {
  max-width: 36em;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0.75rem;
  padding-left: 0.75rem; }

/* =========================================================================
   Sticky Footer
   ========================================================================= */
.o-sticky-footer {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.o-sticky-footer__content {
  flex: 1; }

/* =========================================================================
   Utilities
   ========================================================================= */
.u-list-inline {
  list-style-type: none;
  padding-left: 0;
  display: flex; }
  .u-list-inline li + li {
    margin-left: 0.75rem; }

/* =========================================================================
   Longform
   ========================================================================= */
.s-longform {
  /* Overhanging lists, module needs padding to display list-style-type */
  /* Lead paragraph */
  /* Run-ins */ }
  .s-longform ul,
  .s-longform ol {
    padding-left: 0; }
    .s-longform ul ul,
    .s-longform ul ol,
    .s-longform ol ul,
    .s-longform ol ol {
      padding-left: 40px; }
  .s-longform > p:first-child {
    font-size: 1.2rem;
    /* Drop caps, placed on lead paragraph */ }
    .s-longform > p:first-child::first-letter {
      float: left;
      font-size: 2.85em;
      line-height: 0.9;
      padding-right: 0.375rem;
      padding-top: 0.1em; }
  .s-longform h3 + p::first-line {
    font-size: 1.2rem;
    -webkit-font-feature-settings: "onum", "smcp", "c2sc" 0;
    font-feature-settings: "onum", "smcp", "c2sc" 0; }
    @supports (font-variant-settings: small-caps) {
      .s-longform h3 + p::first-line {
        -webkit-font-feature-settings: "c2sc";
        font-feature-settings: "c2sc";
        font-variant-settings: small-caps; } }

.footnotes {
  font-size: 0.83333rem; }

/*
 Solarized Color Schemes originally by Ethan Schoonover
 http://ethanschoonover.com/solarized

 Ported for PrismJS by Hector Matos
 Website: https://krakendev.io
 Twitter Handle: https://twitter.com/allonsykraken)
*/
/*
SOLARIZED HEX
--------- -------
base03    #002b36
base02    #073642
base01    #586e75
base00    #657b83
base0     #839496
base1     #93a1a1
base2     #eee8d5
base3     #fdf6e3
yellow    #b58900
orange    #cb4b16
red       #dc322f
magenta   #d33682
violet    #6c71c4
blue      #268bd2
cyan      #2aa198
green     #859900
*/
code[class*="language-"],
pre[class*="language-"] {
  color: #657b83;
  /* base00 */
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  background: #073642;
  /* base02 */ }

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  background: #073642;
  /* base02 */ }

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
  border-radius: 0.3em; }

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background-color: #fdf6e3;
  /* base3 */ }

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em; }

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #93a1a1;
  /* base1 */ }

.token.punctuation {
  color: #586e75;
  /* base01 */ }

.token.namespace {
  opacity: .7; }

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #268bd2;
  /* blue */ }

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.url,
.token.inserted {
  color: #2aa198;
  /* cyan */ }

.token.entity {
  color: #657b83;
  /* base00 */
  background: #eee8d5;
  /* base2 */ }

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #859900;
  /* green */ }

.token.function,
.token.class-name {
  color: #b58900;
  /* yellow */ }

.token.regex,
.token.important,
.token.variable {
  color: #cb4b16;
  /* orange */ }

.token.important,
.token.bold {
  font-weight: bold; }

.token.italic {
  font-style: italic; }

.token.entity {
  cursor: help; }

/* =========================================================================
   Shame
   ========================================================================= */
[role="banner"] a {
  color: #2b8a3e;
  text-decoration: none; }

[role="contentinfo"] {
  margin-bottom: 1.5rem; }

/**
 * Router
 */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

main {
  -webkit-animation: 0.3s ease-in both fadeIn;
  animation: 0.3s ease-in both fadeIn; }

body.is-loading,
body.is-loading a {
  cursor: progress; }

body.is-loading main {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut; }

/**
 * Brand colors
 */
[href$="feed.xml"]:hover, [href$="feed.xml"]:focus {
  color: #ff8300; }

[href*="codepen.io"]:hover, [href*="codepen.io"]:focus {
  color: #0ebeff; }

[href*="facebook.com"]:hover, [href*="facebook.com"]:focus {
  color: #3b5998; }

[href*="github.com"]:hover, [href*="github.com"]:focus {
  color: #4183c4; }

[href*="linkedin.com"]:hover, [href*="linkedin.com"]:focus {
  color: #007fb1; }

[href*="twitter.com"]:hover, [href*="twitter.com"]:focus {
  color: #00aced; }
